<body>
  <main>
      <div class="contenido_selectores">
        <div class="seleccion_fila">
          <div class="seleccion_fila">
            <h1 class="titulo indie-flower-regular">A</h1>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
        </div>
        <div class="seleccion_fila">
          <div class="seleccion_fila">
            <h1 class="titulo indie-flower-regular">A</h1>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
        </div>
        <div class="seleccion_fila">
          <div class="seleccion_fila">
            <h1 class="titulo indie-flower-regular">A</h1>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
        </div>
        <div class="seleccion_fila">
          <div class="seleccion_fila">
            <h1 class="titulo indie-flower-regular">A</h1>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
          <div class="cuadros_seleccionado">
            <p class="indie-flower-regular">ejemplo</p>
          </div>
        </div>
      </div>
  </main>
  <div class="boton">
    <div><img src="../../../../assets/img/mouse.png" alt="Imagen del mouse"></div>
    <div><h2 class="indie-flower-regular">Evaluar</h2></div>
    <div><img src="../../../../assets/img/enter.png" alt="Imagen del boton enter"></div>
  </div>
</body>
