<main>
    <section>
        <article>
            <h1>WALF</h1>
        </article>
        <article>
            <div class="containerGame">
                <a [routerLink]="['/act-acronimos']" routerLinkActive="router-link-active">Acrónimos</a>
            </div>
            <div class="containerGame">
                <a [routerLink]="['/act-palabras']" routerLinkActive="router-link-active">Palabras</a>
            </div>
            <div class="containerGame">
                <a [routerLink]="['/act-palabras-verbos-fraciales']" routerLinkActive="router-link-active">Palabras y Verbos Fraciales</a>
            </div>
            <div class="containerGame">
                <a [routerLink]="['/act-verbos-fraciales']" routerLinkActive="router-link-active">Verbos Fraciales</a>
            </div>
        </article>
    </section>
</main>