<main>
    <app-star-sky></app-star-sky>
    <section>
        <article class="titleHome">
            <h1>
              <span style="--i:1;">W</span>
              <span style="--i:2;">A</span>
              <span style="--i:3;">L</span>
              <span style="--i:4;">F</span>
            </h1>
          </article>
        <article class="containerMain">
            <div class="containerGame acronimos">
                <a routerLink="/act-acronimos" routerLinkActive="router-link-active">
                  Acrónimos
                  <button class="playButton"><img src="../../../assets/img-home/play-button-home.svg"></button>
                  <div class="gifContainer"></div>
                </a>
              </div>
            <div class="containerGame palabras">
                <a [routerLink]="['/act-palabras']" routerLinkActive="router-link-active">
                    Palabras
                    <button class="playButton"><img src="../../../assets/img-home/play-button-home.svg"></button>
                    <div class="gifContainer"></div>
                </a>
            </div>
            <div class="containerGame palabrasFraciales">
                <a [routerLink]="['/act-palabras-verbos-fraciales']" routerLinkActive="router-link-active">
                    Palabras y Verbos Fraciales
                    <button class="playButton"><img src="../../../assets/img-home/play-button-home.svg"></button>
                    <div class="gifContainer"></div>
                </a>
            </div>
            <div class="containerGame verbosFraciales">
                <a [routerLink]="['/act-verbos-fraciales']" routerLinkActive="router-link-active">
                    Verbos Fraciales
                    <button class="playButton"><img src="../../../assets/img-home/play-button-home.svg"></button>
                    <div class="gifContainer"></div>
                </a>
            </div>
        </article>
    </section>
</main>