
<main class="game__general">
  <section class="game__tablero">
    <section class="game__puntuacion">
      <div class="game__titulo">
          <h1>Actividad de palabras</h1>
      </div>
      <div class="game__aciertos">
          <h2 class="aciertos" id="aciertos">Aciertos: <a href="" id="acierto">0</a></h2>
          <h2 class="movimiento" id="movimientos">Movimientos: <a href="" id="movimientos">0</a></h2>
          <button class="game__iniciar" id="boton__iniciar">Iniciar juego</button>
      </div>
  
  </section>
    <div class="grid">
      <button id="0" class="cartas"></button>
      <button id="1" class="cartas" ></button>
      <button id="2" class="cartas" ></button>
      <button id="3" class="cartas" ></button>
      <button id="4" class="cartas" ></button>
      <button id="5" class="cartas" ></button>
      <button id="6" class="cartas" ></button>
      <button id="7" class="cartas" ></button>
      <button id="8" class="cartas" ></button>
      <button id="9" class="cartas" ></button>
      <button id="10" class="cartas"></button>
      <button id="11" class="cartas"></button>
      <button id="12" class="cartas"></button>
      <button id="13" class="cartas"></button>
      <button id="14" class="cartas"></button>
      <button id="15" class="cartas"></button>
      <button id="16" class="cartas"></button>
      <button id="18" class="cartas"></button>
      <button id="19" class="cartas"></button>
      <button id="20" class="cartas"></button>
      <button id="21" class="cartas"></button>
      <button id="22" class="cartas"></button>
      <button id="23" class="cartas"></button>
      <button id="24" class="cartas"></button>
      <button id="25" class="cartas"></button>
    </div>
  </section>
</main>

