.game__general{
    border: 6px dashed #ffffff;
}
/* estilos para la puntuacion */
 .game__puntuacion{
    display: flex;
    margin-top: 1vw;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 10px;
    user-select: none;
   
}
.text--size-medium{
    font-size: 6vh;
}
.game__aciertos{
    display: flex;
    position: absolute;
  
    gap: 2vw;
    left: 10vw;
    justify-content: center;
    align-items: center;
}
.game__aciertos h2{
    color: #ffffff;
    font-size: 2rem;
}
.game__aciertos a{
    text-decoration: none;
    font-size: 3rem;
    color: #3198dd;
}
/* fin  */

/* estilos para el tablero */
.game__tablero {
    gap: 1vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
} 
.grid {
    margin: auto;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1vw; 
}

.cartas{
    width: 9vw;
    height: 9vw;
    font-size: 4vw;
    background-color:  #88c9f8;
    border-radius: 1.5vh;
    border:.5vh solid white;
    font-weight: 900;
    color:var(--color-second-light-pink)
}
.carta__texto{
    font-weight: 100;
    font-size: 1.5vw;
}
/* fin */
.game__iniciar{
    background-image: linear-gradient(to right,#f07587,#91d6ec);
    color: #ffffff;
    padding: 20px 40px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}
.game__iniciar:hover {
    background: #3198dd;
}






