<app-star-sky></app-star-sky>
<main class="game__general">

  <div class="game__titulo">
    <h1>Actividad de palabras</h1>
  </div>
  <section class="game__tablero">
    <section class="game__puntuacion">

      <div class="game__aciertos">
        <h2 class="aciertos" id="aciertos">Aciertos: <a href="" id="acierto">{{aciertos}}</a></h2>
        <h2 class="movimiento" id="movimientos">Movimientos: <a href="" id="movimientos">{{movimientos}}</a></h2>

      </div>

    </section>
    <div class="grid">
      @for (item of cartas; track $index ) {
  
      <div id="0" class="cartas anverso " (click)="voltearCarta($index)" [ngClass]="item.volteada ? 'volteada' : ''">
        <img src="../../../../assets/img/interrogacion.jpg" [ngClass]="item.volteada ? 'ocultar' : 'maa'"
          alt="">
        <div class="reverso">
          <p style="color: antiquewhite;" [ngClass]="item.volteada ? 'volteadaAnimation' : 'reverso-animacion'" alt="">{{item.urlDeImagen}}</p>
          <p style="color: antiquewhite;" >{{item.nombreEspanol}}</p>
        </div>
      </div>

      }

    </div>
    <button class="game__iniciar" (click)="iniciarJuego()" id="boton__iniciar" style="color: black;">Iniciar juego</button>
  </section>
 @if(message){
  <div class="content">
    <div class="content--message">
      <h2  >Ganaste</h2>
      <button (click)="ReiniciarJuego()"> Jugar de Nuevo</button>
    </div>
  </div>

 }
</main>