<app-star-sky></app-star-sky>
<main class="game__general">
  <section class="game__tablero">
    <section class="game__puntuacion">
      <div>
        <h2 class="text--size-medium" style="color: aliceblue; text-align: center; " >WORD ACTIVITY</h2>
      </div>
     <div class="game__aciertos">
        <h2 class="aciertos" id="aciertos">Aciertos: <a href="" id="acierto">0</a></h2>
        <h2 class="movimiento" id="movimientos">Movimientos: <a href="" id="movimientos">0</a></h2>
     </div> 
   </section>

    <div class="grid">


      @for(letra of elemntGame; track $index){
        <div style="border: 1px solid green;">
          <div class="containerEmoji">
            @for(item of letra.image; track $index){
              @if(item !== ""){
                @if(item == "empty"){
                  <pre class="emoji" style="border: 1px solid red;"></pre>
                }@else{
                  <pre class="emoji" style="border: 1px solid red;  height: 10vh;">{{item}}</pre>
                }
              }
            }
          </div>
          <button style="display: grid;" id="0" class="cartas"><span class="carta__texto">{{letra.ingles}}</span></button>
        </div>

       
      }
    </div>
  </section>
</main>

