<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="act-verbos-fraciales.component.css">
    <title>Document</title>
</head>
<body>
    <main class="container_p">
        <div class="phrasals_verbs">
            <div class="english">
                <h2>ENGLISH</h2>
                <section class="english_words">
                    <p>Get up</p>
                    <p>Print out</p>
                    <p>Sing off</p>
                    <p>Set up</p>
                    <p>Plug in</p>
                    <p>Roll back</p>
                    <p>Give up</p>
                    <p>Zoom out</p>
                </section>
            </div>
            <div class="spanish">
                <h2>SPANISH</h2>
                <Section class="spanish_words">
                    <p>???????</p>
                    <p>???????</p>
                    <p>???????</p>
                    <p>???????</p>
                    <p>???????</p>
                    <p>???????</p>
                    <p>???????</p>
                    <p>???????</p>
                </Section>
            </div>
            <button class="home_back"><img src="assets/img/flecha_menor.png" alt=""></button>
        </div>
        <div class="phrasals_union">
            <h1>PHARSALS VERBS</h1>
            <section class="union_words">
                <p class="message_error">Phasals verbs Error </p>
                <div class="union">
                    <p class="union_verbs"></p>
                    <p class="union_mas">+</p>
                    <p class="union_preposicion"></p>
                </div>
                <p class="info_verbs">
                </p>
                <div class="guia_phrasals">
                    <div class="guia_verbs">
                        <p class="color_verbs"></p>
                        <p>Verbs</p>
                    </div>
                    <div class="guia_preposicion">
                        <p class="color_preposicion"></p>
                        <p>Preposicion</p>
                    </div>
                </div>
            </section>

        </div>
        <div class="phrasals_separacion">
            <div class="escojer_verbs">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="escojer_preposiciones">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </main>
</body>
</html>
